* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding-top: 25px;
    padding-left: 100px;    
    display: flex;
    align-items: center;
    gap: 600px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-div1 {
    margin-left: 65px;
}

.nav-ul li a {
    color: #1D1E25;
}

.content1 {
    margin-top: 105px;
    margin-left: 120px;
}

.content1 h1 {
    font-size: 72px;
    color: #1D1E25;
    margin-bottom: 115px;
}

.content1-p3 {
    display: flex;
    gap: 25px;
}

.content1-p3 p {
    font-size: 32px;
    color: #1D1E25;
}

.content1-p {
    display: flex;
    align-items: center;
    gap: 180px;
}

.content2-div1 h1 {
    margin-top: 25px;
    font-size: 32px;
}

.content2-div1 p {
    font-size: 18px;
    color: #7E8492;
    margin-top: 8px;
}

.content2-div1-button {
    width: 150px;
    height: 45px;
    background-color: #1d1e25;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.content2 {
    margin-top: 135px;
    margin-left: 43px;
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.content2-img {
    position: absolute;
    left: 515px;
    margin-top: 130px;
    cursor: pointer;
}

.content3 {
    margin-top: 150px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 300px;
}

.content3 h1 {
    font-size: 56px;
    color: #1D1E25;
}

.content3 p {
    font-size: 24px;
    color: #1D1E25;
}

.content4 {
    margin-top: 180px;
    padding-left: 120px;
}

.content4-div1 h1 {
    font-size: 56px;
    color: #1D1E25;
}

.content4-div1 p {
    font-size: 18px;
    color: #7E8492;
    margin-top: 25px;
}

.pajes {
    display: flex;
    align-items: flex-start;
    gap: 90px;
    margin-top: 10px;
}

.pajes1 {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    margin-top: 10px;
}

.pajes-p {
    color: #7E8492;
    font-size: 18px;
    margin-top: 8px;
}

.content4-div2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 30px;  
}

.content4-img1 {
    position: absolute;
    left: 470px;
    margin-bottom: 70px;
    cursor: pointer;
}

.content5 {
    margin-top: 105px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 160px;
}

.content5 h1 {
    font-size: 56px;
    color: #1D1E25;
}

.content5-div1 p {
    font-size: 18px;
    color: #7E8492;
    margin-bottom: 25px;
}

footer {
    width: 1349px;
    height: 850px;
    margin-top: 180px;
    background-color: #1D1E25;
    color: #FFFFFF;
    padding-top: 110px;
}

.footer-div1 {
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 350px;
}

.footer-div12 h1 {
    font-size: 64px;
}

.footer-p {
    margin-top: 30px;
    display: flex;
    gap: 25px;
}

.footer-p p {
    color: #1D1E25;
    font-size: 24px;
    color: #FFFFFF;
}

 .footer-button1 {
    width: 180px;
    height: 55px;
    background-color: #FFFFFF;
    color: #1D1E25;
    border: none;
    border-radius: 50px;
    cursor: pointer;
} 

.footer-div2 {
    margin-top: 130px;
    margin-left: 120px;
}

.foot-div3-div1 h2 {
    margin-top: 50px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 25px;
}

.footer-div2 {
    display: flex;
    align-items: center;
    gap: 180px;
}

.foot-div3-div1 ul li {
    margin-bottom: 15px;
}

.foot-div3-div1 ul li a {
    font-size: 16px;
    color: #FFFFFF;
}

.footer-div4 {
    display: flex;
    align-items: center;
    gap: 95px;
}

.footer-div5 {
    margin-top: 80px;
}

.internet {
    display: flex;
    align-items: center;
    gap: 25px;
}

.internet img {
    cursor: pointer;
}

.footer-p2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-div6 {
    margin-top: 40px;
    margin-left: 120px;
}

.footer-imgp {
    display: flex;
    align-items: center;
    gap: 70px;
}

.footer-div6 {
    display: flex;
    align-items: center;
    gap: 350px;
}

.footer-chiziq {
    margin-left: 115px;
}