* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding-top: 25px;
    padding-left: 100px;    
    display: flex;
    align-items: center;
    gap: 600px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-div1 {
    margin-left: 65px;
}

.nav-ul li a {
    color: #1D1E25;
}

.content1 {
    padding-top: 85px;
    display: flex;
    align-items: center;
    gap: 150px;
    padding-left: 100px;
}

.content1-div1 h1 {
    font-size: 55px;
}

.line-div {
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-top: 100px;
}

.line-div h3 {
    font-size: 25px;
}

.div1-div {
    margin-top: 70px;
}

.div1-div input {
    width: 230px;
    height: 50px;
    border: none;
}

.div1-div button {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #1D1E25;
    color: #FFFFFF;
    cursor: pointer;
}

.content2 {
    width: 1349px;
    height: 970px;
    background-color: #1D1E25;
    padding-top: 100px;
    padding-left: 120px;
}

.content2-h1 {
    font-size: 56px;
    color: #FFFFFF;
}

.content2-p {
    margin-top: 25px;
    font-size: 18px;
    color: #7E8492;
}

.content2-div1 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 280px;
}

.div1-div1 h2 {
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 10px;
}

.div1-div1 p {
    color: #7E8492;
    margin-top: 10px;
}

.content2-div2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 280px;
    margin-top: 100px;
}

.content3 {
    margin-top: 160px;
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 100px;
} 

.content3-div2 h1 {
    font-size: 56px;
    color: #1D1E25;
}

.content3-div2-p {
    font-size: 18px;
    color: #7E8492;
    margin-top: 25px;
}

.div2-div1 {
    margin-top: 40px;
}

.div2-div1-p {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.coca-img1 {
    text-align: center;
    margin-top: 120px;
}

.content4 {
    margin-top: 80px;
    margin-left: 80px;
}

.content4-div1 {
    display: flex;
    align-items: baseline;
    gap: 270px;
    margin-top: 80px;
}

.content4-div1 h1 {
    font-size: 56px;
}

.content4-div1 p {
    font-size: 18px;
    color: #7E8492;
}

.content5 {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 175px;
    margin-top: 200px;
}

.content5-div1 p {
    margin-top: 15px;
    font-size: 18px;
    color: #7E8492;
}

.content6 {
    margin-top: 220px;
    padding-left: 120px;
}

.content6-div1 h1 {
    font-size: 56px;
}

.content6-div1 p {
    margin-top: 25px;
    font-size: 18px;
    color: #7E8492;
}

.div1-div{
    display: flex;
    align-items: center;
}

.div-h1 {
    margin-left: 50px;
}

.div-h1 p {
    margin-top: 40px;
}

.div2-div1 {
    display: flex;
    align-items: center;
    gap: 65px; 
}

.content6-div3 {
    margin-top: 55px;
}

.content7-div1 {
    text-align: center;
    margin-top: 150px;
}

.content7-div1 h1 {
    font-size: 56px;
}

.content7-div1 p {
    margin-top: 25px;
    font-size: 18px;
    color: #7E8492;
}

.content7-div2 {
    margin-left: 90px;
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.div21-p {
    display: flex;
    gap: 305px;
    margin-top: 10px;
}

.div21-p p {
    font-size: 14px;
    color: #7E8492;
}

.div7-div21 h2 {
    font-size: 32px;
    margin-top: 15px;
}

.circle {
    position: absolute;
    left: 645px;
    top: 5620px;
    cursor: pointer;
}

.content8 {
    margin-top: 220px;
}

.content8-div1 {
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 295px;
}

.content8-div1 h1 {
    font-size: 56px;
}

.content8-div1 p {
    font-size: 18px;
    color: #7E8492;
}

.content8-img {
    margin-top: 45px;
    margin-left: 120px;
}

.content8-div2 {
    margin-left: 275px;
    margin-top: -20px;
}

.div83-div1 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.div83-div2 p {
    font-size: 16px;
    color: #7E8492;
    margin-top: 5px;
}

.content8-div3 {
    margin-left: 275px;
    display: flex;
    align-items: center;
    gap: 625px;
    margin-top: 40px;
}

footer {
    margin-top: 180px;
}

.footer-div1 {
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 350px;
}

.footer-div12 h1 {
    font-size: 64px;
}

.footer-p {
    margin-top: 30px;
    display: flex;
    gap: 25px;
}

.footer-p p {
    color: #1D1E25;
    font-size: 24px;
}

 .footer-button1 {
    width: 180px;
    height: 55px;
    background-color: #1D1E25;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
} 

.footer-div2 {
    margin-top: 130px;
    margin-left: 120px;
}

.foot-div3-div1 h2 {
    margin-top: 50px;
    font-weight: 700;
    color: #1D1E25;
    font-size: 16px;
    margin-bottom: 25px;
}

.footer-div2 {
    display: flex;
    align-items: center;
    gap: 180px;
}

.foot-div3-div1 ul li {
    margin-bottom: 15px;
}

.foot-div3-div1 ul li a {
    font-size: 16px;
    color: #1D1E25;
}

.footer-div4 {
    display: flex;
    align-items: center;
    gap: 95px;
}

.footer-div5 {
    text-align: center;
    margin-top: 80px;
}

.footer-div5 p {
    margin-top: 45px;
    font-size: 16px;
    font-weight: 400;
    color: #AFB3BB;
    margin-bottom: 20px;
    cursor: pointer;
}